---
import Layout from "../layouts/Layout.astro";
export const prerender = false;

const API_URL = 'https://ufff-digital.uc.r.appspot.com/api/testimonios/?populate=*';
const API_TOKEN = 'Bearer db0afe4b84307d9d3d38e010c8efc8d12037dba4f3b5c75d06f15a7a01da6e0f51f762c125c8b6fb1a9e185fa0ac14793e25710c09c54221fbeab58f0f2a9fcac8c3866fb40a3eb407adcd04aa65195469ec8641c1cdb3f00b550f6db845b52dca808d2621301a925edabe4a68e82aa22c1135a98491e12c755aa006a266ae8f';

interface Testimonio {
  negocio: string;
  comentario: string;
  imagen: string;
  autor: string;
  rating: number;
}

let testimonios: Testimonio[] = [];

try {
  const res = await fetch(API_URL, { headers: { Authorization: API_TOKEN } });
  const { data = [] } = await res.json();
  testimonios = data.map((item: any) => {
    const attr = item.attributes ?? item;
    const imagenObj = attr.imagen ?? attr.imagen_local ?? {};
    const imagenUrl = imagenObj.url || imagenObj.data?.attributes?.url || '';
    return {
      negocio: attr.negocio ?? attr.titulo ?? 'Cliente',
      comentario: attr.comentario ?? attr.testimonio ?? '',
      imagen: imagenUrl,
      autor: attr.autor ?? attr.nombre ?? 'Cliente',
      rating: attr.calificacion ?? 5,
    } as Testimonio;
  });
} catch (err) {
  console.error('Error fetching testimonios', err);
}
---

<Layout title="Welcome to Astro.">
  <main class="bg-cover text-white flex flex-col items-center" style="background-image: url('/fondo.webp')">
    <div class="py-12 flex justify-center">
      <img class="w-72 h-72" src="/LogoYugen.gif" />
    </div>
    <div class="w-full">
      <img class="w-full" src="/HeadVisual.gif" />
    </div>

    <!-- barra de navegacion  -->
    <div class="w-full mt-12 bg-cover bg-no-repeat bg-center" style="background-image: url('/line-head.png')">
      <ul class="flex justify-center items-center list-none p-0 m-0">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="42"
            height="42"
            viewBox="0 0 24 24"
          >
            <path
              d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"
              fill="white"></path>
          </svg>
        </li>
        <li class="mx-4 text-2xl font-bold">DEBIL</li>
        <li class="mx-4 text-2xl font-bold">VIDA</li>
        <li class="mx-4 text-2xl font-bold">FANTASMA</li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="42"
            height="42"
            viewBox="0 0 24 24"
          >
            <path
              d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z"
              fill="white"></path>
          </svg>
        </li>
      </ul>
    </div>

    <!-- david titulo -->
    <div class="mt-12 flex justify-center">
      <img src="/xDx.webp" />
    </div>

    <div class="flex justify-center">
      <img class="w-1/2 h-1/2" src="/DebilCD.gif" />
      {testimonios.map((testimonio) => (
        <div>
          <img src={testimonio.imagen} alt={testimonio.autor} />
          <p>{testimonio.comentario}</p>
          <p>{testimonio.autor}</p>
          <p>{testimonio.rating}</p>
        </div>
      ))}
    </div>
  </main>
</Layout> 
